/*-----  Customize Bootstrap  -----*/


// Import Bootstrap SCSS
@import "~bootstrap/scss/bootstrap.scss";

/*-----  App CSS  -----*/
html,
body {
  padding: 0;
  margin: 0;

  background: #09F;
  font-family: 'Roboto Slab', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,h2,h3 {
  font-family: 'Suez One', serif;
}